nav {
    .link {
        font-weight: 500;
        font-size: 17px;

        &:hover {
            transition: text-decoration 0s;
            text-decoration: underline #000000;
            text-underline-offset: 0.2em;
            text-decoration-thickness: 0.1em;
        }

        @media (max-width: 500px) {
            flex-direction: column;
            font-size: 12px;
        }

    }
}