.navup {
    background-color: rgb(246, 246, 246);
    padding: 20px 0;

    display: flex;
    justify-content: center;

    img {
        margin-left: 20px;
        width: 240px;
        height: 70px;
        object-fit: cover;
        cursor: pointer;

        @media (max-width: 500px) {
            width: 175px;
            height: 51px;
        }
    }

}